body{
    background-image: url(imagens/bg.png);
}

#degradê{
    width: 100%;
    height: 100%;
    background: black;
    
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    opacity: 0;
    transition: opacity .3s ease-in-out;
}

#degradê.fade{
    opacity: .7;
}

h1{
    color: white;
    text-align: center;
    cursor: default;
    font-size: 70pt;

    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-290%);
    z-index: 2; /* serve para pocissionar coisas para frente ou para trás */
}

#timer{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);/*o único até agora que centralizou*/
    
    border-radius: 10px;
    cursor: default;

    transition: 0.4s;
    transition-timing-function: ease-in-out;
    }

#start{
    width: 130px;
    height: 50px;
    background-color: white;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    
    
    display: flex;
    position: relative;
    margin: auto;
    top: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3 ease-in-out;
    z-index: 2;
}

#start.fade{
    opacity: 0;
}

#start:hover{
    font-size: 30.8px;
    width: 140px;
    height: 55px;
    top: 447.5px;
}

#stop{
    width: 130px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.308);
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(200%,20%);
    margin: auto;
    display: grid;
    place-content: center;
    
    border: solid rgba(255, 0, 0, 0.712);
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3 ease-in-out;
}

#stop.fade{
    opacity: 1;
}

#stop:hover{
    font-size: 30.8px;
    width: 140px;
    height: 55px;
    transform: translate(183%,13%);
}

#instru{
    width: 400px;
    height: 120px;
    background-color: white;

    text-align: left;
    position: absolute; 
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,230%);

    cursor: default;
    
    transition: opacity .3s ease-in-out;
    z-index: 1;
}

#instru.fade{
    opacity: 0;
}
