*{
    padding: 0;
    margin: 0;
}

body{
    background: black url(imagens/bg.png) left center / cover no-repeat fixed;
    overflow: hidden;
}

:root{
    --starwidth: 130px;
    --starheight: 50px;
}

#degradê{
    width: 100vw;
    height: 100vh;
    background: black;
    
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: -2;
}

#degradê.fade{
    opacity: .7;
}

h1{
    color: white;
    text-align: center;
    cursor: default;
    font-size: 6vw;
    word-wrap: normal;

    position: absolute; 
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-120%);
    z-index: 1; /* serve para pocissionar coisas para frente ou para trás */
    transition: 1s ease-in-out;
}

#settbar>h1{
    font-size: 2vw;
    color: black;
    padding-top: 17px;
    padding-left: 10px;
    top: 0;
    left: 0;
    transform: translate(0%,0%);
}

#timer{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);/*o único até agora que centralizou*/
    
    border-radius: 10px;
    cursor: default;

    transition: 0.4s ease-in-out;
    }

#start{
    width: var(--starwidth);
    height: var(--starheight);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3 ease-in-out;
    transition-duration: .5s;
    z-index: 2;
}

#start.fade{
    display: none;
}

#start:hover{
    font-size: 30.8px;
    width: 140px;
    height: 53.84px;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-70%);
}

#stop{
    width: 130px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.151);
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(220%,20%);
    margin: auto;
    display: grid;
    place-content: center;
    
    border: solid rgba(255, 0, 0, 0.712);
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3 ease-in-out;
    transition-duration: .5s;
    z-index: -2;
}

#stop.fade{
    opacity: 1;
    z-index: 2;
}

#stop:hover{
    font-size: 30.8px;
    width: 140px;
    height: 55px;
    transform: translate(200%,13%);
}

/* #instru{
    width: 30vw;
    height: 120px;
    background: #ffffff38;

    text-align: left;
    position: absolute; 
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-60%);
    padding: 10px;

    cursor: default;
    border-radius: 0px 10px;
    
    transition: opacity .3s ease-in-out;
    transition-duration: .5s;
    z-index: 1;
} */

#instru.fade{
    opacity: 0;
}

/* #bola{
    height: 100vh;
    width: 100vh;
    background: #ffffff15;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition-duration: 2s;
} */

#bola.fade{
    opacity: 1;
}

#settbar{
    position: relative;
    left: -300px;
    top: 0px;
    background: white;
    width: 18vw;
    height: 100vh;
    
    padding-top: 4px;
    font-size: 20pt;

    transition-duration: 1s;
}
#settbar.move{
    left: 0px;
}

.caixa{
    display: grid;
    position: relative;
    margin: 20px;
    width: 30px;
    height: 20px;
    left: 300px;
    grid-template-rows: repeat(3,8px);
    cursor: pointer;
    transition-duration: 1s;
    z-index: 3;
}

.caixa.move{
    left: 18vw;
    margin-left: -4vw;
}

.bar{
    background: white;
    height: 4px;
    transition-duration: 1.1s;
}


.bar.bar1.move{
    background: black;
}

.bar.bar2.move{
    background: black;
}

.bar.bar3.move{
    background: black;
}

@media (min-width: 1115px) {
    h1{
        font-size: 70pt;
    }
    #timer{
        font-size: 120px;
    }
    #start{
        font-size: 28px;
    }
}
@media (max-width: 500px) {
    h1{
        font-size: 20pt;
    }
    #settbar>h1{
        font-size: 8pt;
    }
}
@media (max-width: 600px){
    #start{
        top: 65%;
    }
    #start:hover{
        top: 65%;
    }
    #stop{
        top: 65%;
        transform: translate(-50%,-70%);
    }
    #stop:hover{
        top: 65%;
        transform: translate(-50%,-70%);
    }
    #instru{
        transform: translate(-50%,0%);
    }
    h1{
        font-size: 28pt;
    }
    #timer{
        font-size: 50pt;
    }
    #settbar>h1{
        font-size: 8pt;
    }
}
@media (max-width: 875px) {
    #settbar.move{
        width: 140px;
    }
    .caixa.move{
        left: 120px;
        margin-left: -20px;
    }
}